.login{
  border: 1px solid black;
  background-color: rgb(255,255,255);
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.3);
  height: 50vh;
  text-align: center;
  width: 40vh;
}

.signup{
  border: 1px solid black;
  background-color: rgb(255,255,255);
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.3);
  height: 60vh;
  text-align: center;
  width: 40vh;
}

.loginContainer{
  height: 100vh;
}

.title{
  height: fit-content;
  font-family: 'Norican', cursive;
  font-size : 45px;
}

span.fa{
  color: black;
  font-size: 25px;
}

.navbar{
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
}

div.Pagecontainer{
  width: 55vw;
}

div.container.box{
  margin-top : 100px;
}

div.img1 a > img{
  max-width: 100%;
  max-height: 100%;
  width: 320px;
  height: 320px;
  margin-bottom: 30px;
}

div.img > img {
  max-width: 100%;
  max-height: 100%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid black;
}

div.smImg > img{
  width: 60px;
  height: 60px;
}

div.img {
  height: 200px;
}

.res{
  position: absolute;
}

.nav-link{
  margin-left: 5px;
}

div.post{
  margin-bottom: 50px;
}

div.side{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 270px;
  height: 200px;
  position: fixed;
  top: 100px;
  right: 480px;
}

div.addPost{
  position: fixed;
  bottom : 80px;
  right:120px
}

.inputField{
  padding: 20px;
  padding-bottom: 10px;
}

li.comment{
  font-family: 'Slabo 27px';
  background-color:#e6ffff;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

@media (max-width:1400px){
  div.Pagecontainer{
    width: 100vw;
  }

  div.side{
    right: 250px;
  }
}

@media (max-width:1100px){
  div.side{
    right:100px
  }
}

@media only screen and (max-width: 900px) {
  div.Pagecontainer{
    width: 100vw;
  }
  div.addPost{
    display:none
  }
  #search{
    display:none
  }
  div.side{
    display: none;
  }
  .login{
    margin-top: 110px;
    width:100vw;
    height: 100vh;
  }
  .signup{
    margin-top: 300px;
    width: 100vw;
    height: 500px;
  }
}

@media (max-width:550px){
  .signup{
    margin-top: 60px
  }
}